registry=https://prafull.jfrog.io/artifactory/api/npm/npm/
//prafull.jfrog.io/artifactory/api/npm/npm/:_password=QVA5TXZvS21EV1duUEtvNTl2NDdvNmF5OFpO
//prafull.jfrog.io/artifactory/api/npm/npm/:username=prafull.singh@tellius.com
//prafull.jfrog.io/artifactory/api/npm/npm/:email=prafull.singh@tellius.com
//prafull.jfrog.io/artifactory/api/npm/npm/:always-auth=true