_auth = cHJhZnVsbC5zaW5naEB0ZWxsaXVzLmNvbTpjbVZtZEd0dU9qQXhPakUzTWpreE5EWTBNREk2YjNoVVVUSnpjelpPUkVGRmQwTnJNVXcxUnpCSGJuRmtaa05Y
email = prafull.singh@tellius.com
always-auth = true
registry=https://prafull.jfrog.io/artifactory/api/npm/npm/